body{
    background-color: #ebb9d8;
}

header{
    display:inline-block;/* ficar na memas linha */
   background-color:#e084bd;
   color: aliceblue;
}

.titulo{
    
    width: 5000px;
    height: 40px;
    padding-left: 30px;
    border-radius: 20px;
    box-shadow: 500px;

}

}
.tab1{
    text-align: center;
    padding: 50px 70px 20px 10px;
    
}
 .article1{

 }